/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffebcd;
    padding: 2em;
    border: 2px solid #f4a460;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
}

h1 {
    color: #4682b4;
    margin-bottom: 0.5em;
}

p {
    color: #555;
    margin-bottom: 1em;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4682b4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px 0 20px 0;
}

button:hover {
    background-color: #5a9bd4;
}

.secret {
    display: none;
}
